/* common styles */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
nav{
    max-width: 1440px;
    margin: 0 auto;
    background: #FFF;

}

main{
    max-width: 1440px;
    margin: 0 auto;
}

.common-text-color{
    color: #FF42A5;
}

/* nav styles */

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gamer{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 45px;
  
}

.about{

    display: flex;
    align-items: center;
    gap: 32px;
}
.about a{
    text-decoration: none;
    font-weight: 500;
    color: #3C354F;
    font-size: 18px;
}
.icon{
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 10px 20px;
}

.icon:hover{
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
}
.fa-youtube{
    color: red;
    font-size: 20px;
}
.fa-tiktok{
    color: black;
    font-size: 20px;
}
.fa-gamepad{
    color: #FF42A5;
}

/* Nav end */

/* main body */

/* 1st two banner */

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-title{
    color: #0B0223;
    margin-bottom: 5px;
    font-size: 48px;
    margin-top: 5px;
    font-weight: 600;
}
.hero h1{
    color: #FF42A5;
    font-size: 95px;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 24px;
}
.hero p{
    color: #534C64;
    font-weight: 500;
    font-size: 16px;
}
.hero img{
    width: 80%;
}

.btn-primary{
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    padding: 15px 25px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
    margin-right: 10px;
}
#secondary{
    background: #4EC5F7;
}

.img-hover:hover{
   transform: scale(1) rotate(360deg);
   transition: 1s;
}

.hero-2{
    display: flex;
}
.hero-play{
    width: 50%;
}
.hero-2-title{
    font-size: 48px;
    font-weight: 700;
    color: #F948B2;
    text-align: end;
}
.hero-2-description{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    text-align: end;
}
.button-position{
   margin-top: 1px;
    text-align: end;
}
.purpose{
    text-align: end;
    font-size: 24px;
    font-weight: 500;
}
.unleash{
    color: #534C64;
    text-align: end;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 216px;
}

/* Card section */
.card-heading{
    text-align: center;
}
.card-heading h2{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 5px;
}
.card-heading p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.hero-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 0;
}

.hero3-texts{
   
    padding-left: 110px;
}
.hero-3-title{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
.hero-3-description{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: 0px;

}

.relative-img{
    width: 300px;
    height: auto;
    position: relative;
    bottom: 220px;
    right: 100px;
}

/* games types */

.type-games{
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    gap: 20px;
    padding-left: 40px;
}

.types-games img{
    width: 60px;
    height: 60px;
}
.games{
    display: flex;
    gap: 16px;
}

.games:hover{
    border-radius: 50px;
    border: 1.5px solid var(--Linear, #FF42A5);
    background: #FFF;
    color: #FF42A5;
}

.type-games-2{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-left: 90px;
}

/* footer styles */

.foot{
    margin-top: 90px;
    background: #0B0223;
    height: 500px;
    text-align: center;
}
.foot-header{
    color: #fff;
    font-size: 45px;
    font-weight: 700;
   
    padding-top: 100px;
}
.foot a{
    text-decoration: none;
}
.foot p{
    color: rgba(255, 255, 255, 0.60);
}
.imp-link a{
    color: #FFF;
    padding: 0px 30px;

}